{% assign block_settings = block.settings %}
{% assign row_classes = 'accordion-row' %}
{% if block_settings.color_scheme != blank %}
  {% assign row_classes = row_classes | append: ' color-' | append: block_settings.color_scheme %}
{% endif %}
{% if block_settings.notch_row %}
  {% assign row_classes = row_classes | append: ' accordion-row--notch' %}
{% endif %}
{% assign nested_block_count = block.blocks | size %}
{% assign has_reveal_content = false %}
{% if nested_block_count > 0 %}
  {% assign has_reveal_content = true %}
  {% assign row_classes = row_classes | append: ' accordion-row--has-reveal' %}
{% endif %}
{% assign scale_between = block_settings.heading_scale_between %}
{% if scale_between == nil %}
  {% assign scale_between = true %}
{% endif %}
{% if scale_between == false %}
  {% assign row_classes = row_classes | append: ' accordion-row--fixed-heading' %}
{% endif %}

{% assign show_right_heading = false %}
{% if block_settings.right_heading != blank %}
  {% assign show_right_heading = true %}
{% endif %}

{% assign rem_divisor = 16.0 %}
{% assign has_custom_summary_padding = false %}
{% assign has_custom_content_padding = false %}

{% assign summary_padding_block_start_value = block_settings.summary_padding_block_start | default: 0 | times: 1 %}
{% assign summary_padding_block_end_value = block_settings.summary_padding_block_end | default: 0 | times: 1 %}
{% assign summary_padding_inline_start_value = block_settings.summary_padding_inline_start | default: 0 | times: 1 %}
{% assign summary_padding_inline_end_value = block_settings.summary_padding_inline_end | default: 0 | times: 1 %}

{% if summary_padding_block_start_value != 0 or summary_padding_block_end_value != 0 or summary_padding_inline_start_value != 0 or summary_padding_inline_end_value != 0 %}
  {% assign has_custom_summary_padding = true %}
{% endif %}

{% assign content_padding_block_start_value = block_settings.content_padding_block_start | default: 0 | times: 1 %}
{% assign content_padding_block_end_value = block_settings.content_padding_block_end | default: 0 | times: 1 %}
{% assign content_padding_inline_start_value = block_settings.content_padding_inline_start | default: 0 | times: 1 %}
{% assign content_padding_inline_end_value = block_settings.content_padding_inline_end | default: 0 | times: 1 %}

{% if content_padding_block_start_value != 0 or content_padding_block_end_value != 0 or content_padding_inline_start_value != 0 or content_padding_inline_end_value != 0 %}
  {% assign has_custom_content_padding = true %}
{% endif %}

{% assign has_row_custom_padding = false %}
{% if has_custom_summary_padding or has_custom_content_padding %}
  {% assign has_row_custom_padding = true %}
{% endif %}

{% capture inline_styles %}
  {% if summary_padding_block_start_value != 0 %}--accordion-header-padding-block-start: {{ summary_padding_block_start_value | divided_by: rem_divisor }}rem;{% endif %}
  {% if summary_padding_block_end_value != 0 %}--accordion-header-padding-block-end: {{ summary_padding_block_end_value | divided_by: rem_divisor }}rem;{% endif %}
  {% if summary_padding_inline_start_value != 0 %}--accordion-header-padding-inline-start: {{ summary_padding_inline_start_value | divided_by: rem_divisor }}rem;{% endif %}
  {% if summary_padding_inline_end_value != 0 %}--accordion-header-padding-inline-end: {{ summary_padding_inline_end_value | divided_by: rem_divisor }}rem;{% endif %}
  {% if content_padding_block_start_value != 0 %}--accordion-content-padding-block-start: {{ content_padding_block_start_value | divided_by: rem_divisor }}rem;{% endif %}
  {% if content_padding_block_end_value != 0 %}--accordion-content-padding-block-end: {{ content_padding_block_end_value | divided_by: rem_divisor }}rem;{% endif %}
  {% if content_padding_inline_start_value != 0 %}--accordion-content-padding-inline-start: {{ content_padding_inline_start_value | divided_by: rem_divisor }}rem;{% endif %}
  {% if content_padding_inline_end_value != 0 %}--accordion-content-padding-inline-end: {{ content_padding_inline_end_value | divided_by: rem_divisor }}rem;{% endif %}
  {% if block_settings.heading_type_preset != blank %}
    --accordion-heading-font-family: var(--font-{{ block_settings.heading_type_preset }}--family);
    --accordion-heading-font-style: var(--font-{{ block_settings.heading_type_preset }}--style);
    --accordion-heading-font-weight: var(--font-{{ block_settings.heading_type_preset }}--weight);
    --accordion-heading-text-case: var(--font-{{ block_settings.heading_type_preset }}--case);
    --accordion-heading-line-height: var(--font-{{ block_settings.heading_type_preset }}--line-height);
    --accordion-heading-base-size: var(--font-{{ block_settings.heading_type_preset }}--size);
  {% endif %}
  {% if block_settings.right_heading_type_preset != blank and block_settings.right_heading_type_preset != 'match' %}
    --accordion-right-heading-font-family: var(--font-{{ block_settings.right_heading_type_preset }}--family);
    --accordion-right-heading-font-style: var(--font-{{ block_settings.right_heading_type_preset }}--style);
    --accordion-right-heading-font-weight: var(--font-{{ block_settings.right_heading_type_preset }}--weight);
    --accordion-right-heading-text-case: var(--font-{{ block_settings.right_heading_type_preset }}--case);
    --accordion-right-heading-line-height: var(--font-{{ block_settings.right_heading_type_preset }}--line-height);
    --accordion-right-heading-base-size: var(--font-{{ block_settings.right_heading_type_preset }}--size);
  {% endif %}
  {% assign heading_mobile_numeric = block_settings.heading_mobile_size | default: 0 | times: 1 %}
  {% assign heading_desktop_numeric = block_settings.heading_desktop_size | default: 0 | times: 1 %}
  {% if heading_mobile_numeric > 0 %}--accordion-heading-mobile-size: {{ heading_mobile_numeric }}rem;{% endif %}
  {% if heading_desktop_numeric > 0 %}--accordion-heading-desktop-size: {{ heading_desktop_numeric }}rem;{% endif %}
  {% if has_row_custom_padding %}
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start-negative: 0px;
    --padding-inline-end-negative: 0px;
    --padding-block-start-negative: 0px;
    --padding-block-end-negative: 0px;
  {% endif %}
{% endcapture %}

{% capture header_styles %}
  {% if summary_padding_block_start_value != 0 %}padding-block-start: {{ summary_padding_block_start_value | divided_by: rem_divisor }}rem;{% endif %}
  {% if summary_padding_block_end_value != 0 %}padding-block-end: {{ summary_padding_block_end_value | divided_by: rem_divisor }}rem;{% endif %}
  {% if summary_padding_inline_start_value != 0 %}padding-inline-start: {{ summary_padding_inline_start_value | divided_by: rem_divisor }}rem;{% endif %}
  {% if summary_padding_inline_end_value != 0 %}padding-inline-end: {{ summary_padding_inline_end_value | divided_by: rem_divisor }}rem;{% endif %}
{% endcapture %}

{% capture content_styles %}
  {% if content_padding_block_start_value != 0 %}padding-block-start: {{ content_padding_block_start_value | divided_by: rem_divisor }}rem;{% endif %}
  {% if content_padding_block_end_value != 0 %}padding-block-end: {{ content_padding_block_end_value | divided_by: rem_divisor }}rem;{% endif %}
  {% if content_padding_inline_start_value != 0 %}padding-inline-start: {{ content_padding_inline_start_value | divided_by: rem_divisor }}rem;{% endif %}
  {% if content_padding_inline_end_value != 0 %}padding-inline-end: {{ content_padding_inline_end_value | divided_by: rem_divisor }}rem;{% endif %}
{% endcapture %}

<div
  class="{{ row_classes }}"
  {% if block_settings.hover_color_scheme != blank %}
    data-hover-scheme="{{ block_settings.hover_color_scheme }}"
  {% endif %}
>
  <accordion-custom
    class="accordion-row__inner{% if block_settings.color_scheme != blank %} accordion-row--custom-scheme{% endif %}"
    {% if block_settings.notch_row %}
      data-notch="true"
    {% endif %}
    {% if inline_styles != blank %}
      style="{{ inline_styles | strip }}"
    {% endif %}
    {% if block_settings.open_by_default %}
      open-by-default-on-desktop
      open-by-default-on-mobile
    {% endif %}
  >
    {% if has_reveal_content %}
      <details
        class="details"
        data-testid="accordion-details"
        {{ block.shopify_attributes }}
      >
        <summary
          class="details__header{% if show_right_heading %} details__header--has-right{% endif %}"
          {% if header_styles != blank %}
            style="{{ header_styles | strip }}"
          {% endif %}
        >
          <span class="details__heading details__heading--left">
            {% render 'icon-or-image',
              icon: block_settings.icon,
              image_upload: block_settings.image_upload,
              width: block_settings.width,
              class_name: 'details__icon'
            %}
            <span class="details__label">{{ block_settings.heading }}</span>
            {% if block_settings.heading != blank %}
              <span class="details__caret details__caret--left">
                <span class="svg-wrapper icon-caret icon-animated">
                  {{- 'icon-caret.svg' | inline_asset_content -}}
                </span>
              </span>
            {% endif %}
          </span>
          {% if show_right_heading %}
            <span class="details__heading details__heading--right">
              <span class="details__caret details__caret--right">
                <span class="svg-wrapper icon-caret icon-animated">
                  {{- 'icon-caret.svg' | inline_asset_content -}}
                </span>
              </span>
              <span class="details__label">{{ block_settings.right_heading }}</span>
            </span>
          {% endif %}
        </summary>

        <div
          class="details-content"
          {% if content_styles != blank %}
            style="{{ content_styles | strip }}"
          {% endif %}
        >
          {% content_for 'blocks' %}
        </div>
      </details>
    {% else %}
      <div
        class="details details--static"
        data-testid="accordion-details"
        {{ block.shopify_attributes }}
      >
        <div
          class="details__header{% if show_right_heading %} details__header--has-right{% endif %}"
          {% if header_styles != blank %}
            style="{{ header_styles | strip }}"
          {% endif %}
        >
          <span class="details__heading details__heading--left">
            {% render 'icon-or-image',
              icon: block_settings.icon,
              image_upload: block_settings.image_upload,
              width: block_settings.width,
              class_name: 'details__icon'
            %}
            <span class="details__label">{{ block_settings.heading }}</span>
          </span>
          {% if show_right_heading %}
            <span class="details__heading details__heading--right">
              <span class="details__label">{{ block_settings.right_heading }}</span>
            </span>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="accordion-row__notch-shapes" aria-hidden="true">
      <span class="accordion-row__notch-shape accordion-row__notch-shape--top"></span>
      <span class="accordion-row__notch-shape accordion-row__notch-shape--bottom"></span>
    </div>
  </accordion-custom>
</div>

{% stylesheet %}
  .accordion-row {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--color-background, transparent);
    transition: background-color 160ms var(--ease-out), color 160ms var(--ease-out);
    --accordion-caret-gap: 12px;
    --accordion-hover-background: rgb(var(--color-foreground-rgb, 255 255 255) / 0.08);
    --accordion-hover-color: var(--color-foreground);
    --accordion-hover-border: rgb(var(--color-border-rgb, var(--color-foreground-rgb, 0 0 0)) / 0.2);
    --accordion-heading-mobile-size: var(--accordion-heading-base-size, var(--summary-font-size));
    --accordion-heading-desktop-size: var(--accordion-heading-base-size, var(--summary-font-size));
    --accordion-notch-fill-color: var(--color-background, rgb(var(--color-background-rgb, 255 255 255)));
    --accordion-heading-mobile-size: var(--accordion-heading-base-size, var(--summary-font-size));
    --accordion-heading-desktop-size: var(--accordion-heading-base-size, var(--summary-font-size));
    --accordion-heading-scale-min-width: 20rem;
    --accordion-heading-scale-max-width: 75rem;
    --accordion-notch-mask-desktop: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%201415%2034%22%20preserveAspectRatio%3D%22none%22%3E%3Cpath%20d%3D%22M1410.66%2025.4923L826.089%2025.4923C819.642%2025.4923%20813.915%2021.6826%20811.892%2016.0183C808.565%206.71523%20799.717%200.499973%20789.84%200.499973L624.816%200.499966C614.939%200.499965%20606.092%206.74955%20602.765%2016.0183C600.742%2021.6826%20595.049%2025.4923%20588.567%2025.4923L4.00012%2025.4923L4.00012%2034L1410.66%2034Z%22%20fill%3D%22white%22/%3E%3C/svg%3E");
    --accordion-notch-mask-mobile: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20866%2027%22%20preserveAspectRatio%3D%22none%22%3E%3Cpath%20d%3D%22M866%2025.6968L542.433%2025.6968C535.986%2025.6968%20530.259%2021.8871%20528.235%2016.2228C524.909%206.91974%20516.061%200.704483%20506.184%200.704482L341.16%200.70448C331.283%200.70448%20322.435%206.95406%20319.109%2016.2228C317.085%2021.8871%20311.393%2025.6968%20304.911%2025.6968L0%2025.6968L0%2027L866%2027Z%22%20fill%3D%22white%22/%3E%3C/svg%3E");
    --accordion-notch-stroke-desktop: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%201415%2034%22%20preserveAspectRatio%3D%22none%22%3E%3Cpath%20d%3D%22M1410.66%2025.4923L826.089%2025.4923C819.642%2025.4923%20813.915%2021.6826%20811.892%2016.0183C808.565%206.71523%20799.717%200.499973%20789.84%200.499973L624.816%200.499966C614.939%200.499965%20606.092%206.74955%20602.765%2016.0183C600.742%2021.6826%20595.049%2025.4923%20588.567%2025.4923L4.00012%2025.4923%22%20stroke%3D%22white%22%20stroke-width%3D%221%22%20fill%3D%22none%22/%3E%3C/svg%3E");
    --accordion-notch-stroke-mobile: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20866%2027%22%20preserveAspectRatio%3D%22none%22%3E%3Cpath%20d%3D%22M866%2025.6968L542.433%2025.6968C535.986%2025.6968%20530.259%2021.8871%20528.235%2016.2228C524.909%206.91974%20516.061%200.704483%20506.184%200.704482L341.16%200.70448C331.283%200.70448%20322.435%206.95406%20319.109%2016.2228C317.085%2021.8871%20311.393%2025.6968%20304.911%2025.6968L0%2025.6968%22%20stroke%3D%22white%22%20stroke-width%3D%221%22%20fill%3D%22none%22/%3E%3C/svg%3E");
  }

  .accordion-row:hover,
  .accordion-row--open {
    background-color: var(--accordion-hover-background);
  }

  .accordion-row--notch,
  .accordion-row--before-notch {
    overflow: visible;
  }

  .accordion-row::before {
    content: '';
    position: absolute;
    top: calc(var(--padding-block-start, 0px) * -1);
    bottom: calc(var(--padding-block-end, 0px) * -1);
    left: calc(var(--padding-inline-start, 0px) * -1);
    right: calc(var(--padding-inline-end, 0px) * -1);
    background-color: var(--color-background);
    z-index: -1;
  }

  .accordion-row:hover::before,
  .accordion-row--open::before {
    background-color: var(--accordion-hover-background);
  }

  .accordion-row__inner {
    display: block;
  }

  .accordion-row .details {
    position: relative;
    transition: background-color 160ms var(--ease-out), color 160ms var(--ease-out);
  }

  .accordion-row:hover .details,
  .accordion-row--open .details {
    background-color: var(--accordion-hover-background);
  }

  .details__icon {
    height: auto;
    margin-inline-end: var(--margin-xs);
  }

  .details__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--margin-md);
    transition: background-color 160ms var(--ease-out), color 160ms var(--ease-out);
    padding-block-start: var(--accordion-header-padding-block-start, var(--padding-sm));
    padding-block-end: var(--accordion-header-padding-block-end, var(--padding-sm));
    padding-inline-start: var(--accordion-header-padding-inline-start, var(--padding-inline-start, 0px));
    padding-inline-end: var(--accordion-header-padding-inline-end, var(--padding-inline-end, 0px));
  }

  .details__header--has-right {
    gap: var(--margin-lg);
  }

  .details__heading {
    display: inline-flex;
    align-items: center;
    gap: var(--margin-xs);
    justify-content: flex-start;
    flex: 1;
    min-width: 0;
    color: inherit;
    font-family: var(--accordion-heading-font-family, var(--summary-font-family));
    font-style: var(--accordion-heading-font-style, var(--summary-font-style));
    font-weight: var(--accordion-heading-font-weight, var(--summary-font-weight));
    line-height: var(--accordion-heading-line-height, var(--summary-font-line-height));
    text-transform: var(--accordion-heading-text-case, var(--summary-font-case));
    font-size: clamp(
      var(--accordion-heading-mobile-size),
      calc(
        var(--accordion-heading-mobile-size) +
          (var(--accordion-heading-desktop-size) - var(--accordion-heading-mobile-size)) *
          clamp(
            0,
            (100vw - var(--accordion-heading-scale-min-width)) /
              max(1px, var(--accordion-heading-scale-max-width) - var(--accordion-heading-scale-min-width)),
            1
          )
      ),
      var(--accordion-heading-desktop-size)
    );
  }

  .details__heading--right {
    margin-inline-start: auto;
    text-align: right;
    justify-content: flex-end;
  }

  .details__heading--right .details__label {
    font-family: var(--accordion-right-heading-font-family, var(--accordion-heading-font-family, var(--summary-font-family)));
    font-style: var(--accordion-right-heading-font-style, var(--accordion-heading-font-style, var(--summary-font-style)));
    font-weight: var(--accordion-right-heading-font-weight, var(--accordion-heading-font-weight, var(--summary-font-weight)));
    line-height: var(--accordion-right-heading-line-height, var(--accordion-heading-line-height, var(--summary-font-line-height)));
    text-transform: var(--accordion-right-heading-text-case, var(--accordion-heading-text-case, var(--summary-font-case)));
    font-size: clamp(
      var(--accordion-heading-mobile-size),
      calc(
        var(--accordion-heading-mobile-size) +
          (var(--accordion-heading-desktop-size) - var(--accordion-heading-mobile-size)) *
          clamp(
            0,
            (100vw - var(--accordion-heading-scale-min-width)) /
              max(1px, var(--accordion-heading-scale-max-width) - var(--accordion-heading-scale-min-width)),
            1
          )
      ),
      var(--accordion-heading-desktop-size)
    );
  }

  .details__label {
    display: inline-block;
    color: inherit;
  }

  .details__caret {
    display: inline-flex;
    margin-inline-start: var(--accordion-caret-gap);
    opacity: 0;
    transform: translateX(4px);
    transition: opacity var(--animation-speed) var(--animation-easing), transform var(--animation-speed) var(--animation-easing);
  }

  .details__caret--right {
    order: -1;
    margin-inline-start: 0;
    margin-inline-end: var(--accordion-caret-gap);
    transform: translateX(-4px);
  }

  .details__caret .svg-wrapper {
    margin-inline-start: 0;
  }

  .details__heading:hover .details__caret,
  .details__heading:focus-within .details__caret {
    opacity: 1;
    transform: translateX(0);
  }

  summary .svg-wrapper.icon-caret {
    margin-inline-start: 0;
  }

  .accordion-row:hover .details__header,
  .accordion-row:hover .details-content,
  details[open] .details__header,
  details[open] .details-content {
    background-color: var(--accordion-hover-background);
    color: var(--accordion-hover-color);
    border-color: var(--accordion-hover-border);
  }

  .accordion-row:hover .details__heading,
  .accordion-row:hover .details__label,
  .accordion-row:hover .details__caret .svg-wrapper,
  details[open] .details__heading,
  details[open] .details__label,
  details[open] .details__caret .svg-wrapper {
    color: inherit;
  }

  {% for scheme in settings.color_schemes %}
    .accordion-row[data-hover-scheme="{{ scheme.id }}"] {
      --accordion-hover-background: rgb({{ scheme.settings.background.rgba }});
      --accordion-hover-color: rgb({{ scheme.settings.foreground_heading.rgba | default: scheme.settings.foreground.rgba }});
      --accordion-hover-border: rgb({{ scheme.settings.border.rgba }});
    }
  {% endfor %}

  .details-content {
    padding-block-start: var(--accordion-content-padding-block-start, var(--padding-md));
    padding-block-end: var(--accordion-content-padding-block-end, var(--padding-md));
    padding-inline-start: var(--accordion-content-padding-inline-start, var(--padding-inline-start, 0px));
    padding-inline-end: var(--accordion-content-padding-inline-end, var(--padding-inline-end, 0px));
    color: inherit;
  }

  .accordion-row__group-hidden {
    display: none !important;
  }

  .accordion-row__notch-shapes {
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(100% + var(--padding-inline-start, 0px) + var(--padding-inline-end, 0px));
    left: calc(var(--padding-inline-start, 0px) * -1);
    pointer-events: none;
    z-index: 0;
  }

  .accordion-row__notch-shape {
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--accordion-notch-height, 34px);
    display: none;
  }

  .accordion-row__notch-shape::before,
  .accordion-row__notch-shape::after {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
    pointer-events: none;
  }

  .accordion-row__notch-shape::before {
    background-color: var(--accordion-notch-fill-color);
    -webkit-mask-image: var(--accordion-notch-mask-desktop);
    mask-image: var(--accordion-notch-mask-desktop);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-position: center;
    mask-position: center;
  }

  .accordion-row:hover .accordion-row__notch-shape::before,
  .accordion-row--open .accordion-row__notch-shape::before {
    background-color: var(--accordion-hover-background);
  }

  .accordion-row__notch-shape::after {
    background-color: var(--accordion-divider-color, var(--section-gridline-color, var(--color-border)));
    -webkit-mask-image: var(--accordion-notch-stroke-desktop);
    mask-image: var(--accordion-notch-stroke-desktop);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-position: center;
    mask-position: center;
  }

  .accordion-row__notch-shape--top {
    --accordion-notch-line-offset: 25.5px;
    top: calc(var(--accordion-notch-line-offset) * -1);
  }

  .accordion-row--notch .accordion-row__notch-shape--top {
    display: block;
  }

  @media screen and (max-width: 749px) {
    .accordion-row__notch-shape {
      height: var(--accordion-notch-height-mobile, 27px);
    }

    .accordion-row__notch-shape--top {
      --accordion-notch-line-offset: 24px;
    }

    .accordion-row__notch-shape::before {
      -webkit-mask-image: var(--accordion-notch-mask-mobile);
      mask-image: var(--accordion-notch-mask-mobile);
    }

    .accordion-row__notch-shape::after {
      -webkit-mask-image: var(--accordion-notch-stroke-mobile);
      mask-image: var(--accordion-notch-stroke-mobile);
    }
  }

  .accordion-row--notch .details,
  .accordion-row--before-notch .details {
    border-top: 0;
    border-bottom: 0;
    border-block-start: 0;
    border-block-end: 0;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.accordion_row",
  "tag": null,
  "blocks": [
    { "type": "@theme" },
    { "type": "@app" }
  ],
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Accordion heading"
    },
    {
      "type": "text",
      "id": "right_heading",
      "label": "Right heading",
      "info": "Optional heading displayed on the right side of the row."
    },
    {
      "type": "checkbox",
      "id": "open_by_default",
      "label": "Open row by default",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Row color scheme"
    },
    {
      "type": "color_scheme",
      "id": "hover_color_scheme",
      "label": "Row hover color scheme"
    },
    {
      "type": "header",
      "content": "Summary padding"
    },
    {
      "type": "range",
      "id": "summary_padding_block_start",
      "label": "Top",
      "min": 0,
      "max": 80,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "summary_padding_block_end",
      "label": "Bottom",
      "min": 0,
      "max": 80,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "summary_padding_inline_start",
      "label": "Left",
      "min": 0,
      "max": 80,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "summary_padding_inline_end",
      "label": "Right",
      "min": 0,
      "max": 80,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "Content padding"
    },
    {
      "type": "range",
      "id": "content_padding_block_start",
      "label": "Top",
      "min": 0,
      "max": 80,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "range",
      "id": "content_padding_block_end",
      "label": "Bottom",
      "min": 0,
      "max": 80,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "content_padding_inline_start",
      "label": "Left",
      "min": 0,
      "max": 80,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "content_padding_inline_end",
      "label": "Right",
      "min": 0,
      "max": 80,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "header",
      "content": "Heading typography"
    },
    {
      "type": "select",
      "id": "heading_type_preset",
      "label": "Heading preset",
      "options": [
        { "value": "", "label": "Inherit section settings" },
        { "value": "paragraph", "label": "Paragraph" },
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "right_heading_type_preset",
      "label": "Right heading preset",
      "options": [
        { "value": "match", "label": "Match left heading" },
        { "value": "paragraph", "label": "Paragraph" },
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" }
      ],
      "default": "match"
    },
    {
      "type": "range",
      "id": "heading_mobile_size",
      "label": "Mobile font size",
      "min": 0,
      "max": 3,
      "step": 0.1,
      "unit": "rem",
      "default": 0
    },
    {
      "type": "range",
      "id": "heading_desktop_size",
      "label": "Desktop font size",
      "min": 0,
      "max": 4,
      "step": 0.1,
      "unit": "rem",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "heading_scale_between",
      "label": "Scale between mobile and desktop sizes",
      "default": true
    },
    {
      "type": "header",
      "content": "Kink"
    },
    {
      "type": "checkbox",
      "id": "notch_row",
      "label": "Enable notch on this row",
      "default": false
    },
    {
      "type": "header",
      "content": "Icon"
    },
    {
      "type": "select",
      "id": "icon",
      "label": "Icon",
      "options": [
        { "value": "none", "label": "None" },
        { "value": "apple", "label": "Apple" },
        { "value": "arrow", "label": "Arrow" },
        { "value": "banana", "label": "Banana" },
        { "value": "bottle", "label": "Bottle" },
        { "value": "box", "label": "Box" },
        { "value": "carrot", "label": "Carrot" },
        { "value": "chat_bubble", "label": "Chat bubble" },
        { "value": "check_box", "label": "Check box" },
        { "value": "clipboard", "label": "Clipboard" },
        { "value": "dairy", "label": "Dairy" },
        { "value": "dairy_free", "label": "Dairy free" },
        { "value": "dryer", "label": "Dryer" },
        { "value": "eye", "label": "Eye" },
        { "value": "fire", "label": "Fire" },
        { "value": "gluten_free", "label": "Gluten free" },
        { "value": "heart", "label": "Heart" },
        { "value": "iron", "label": "Iron" },
        { "value": "leaf", "label": "Leaf" },
        { "value": "leather", "label": "Leather" },
        { "value": "lightning_bolt", "label": "Lightning bolt" },
        { "value": "lipstick", "label": "Lipstick" },
        { "value": "lock", "label": "Lock" },
        { "value": "map_pin", "label": "Map pin" },
        { "value": "nut_free", "label": "Nut free" },
        { "value": "pants", "label": "Pants" },
        { "value": "paw", "label": "Paw" },
        { "value": "recycle", "label": "Recycle" },
        { "value": "shirt", "label": "Shirt" },
        { "value": "shoe", "label": "Shoe" },
        { "value": "snowflake", "label": "Snowflake" },
        { "value": "star", "label": "Star" },
        { "value": "sun", "label": "Sun" },
        { "value": "thumbs_up", "label": "Thumbs up" },
        { "value": "trophy", "label": "Trophy" },
        { "value": "washing", "label": "Washing" }
      ],
      "default": "none"
    },
    {
      "type": "image_picker",
      "id": "image_upload",
      "label": "Image icon"
    },
    {
      "type": "range",
      "id": "width",
      "label": "Icon width",
      "min": 12,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "Accordion row"
    }
  ]
}
{% endschema %}
