{% doc %}
  @prompt
    a blog summary carousel
{% enddoc %}

{% liquid
  assign max_items = block.settings.post_limit
%}

<div
  class="blog-summary-carousel block-resource-list spacing-style gap-style color-{{ block.settings.color_scheme }}"
  style="
    {% render 'spacing-style', settings: block.settings %}
    {% render 'gap-style', value: block.settings.gap %}
    {% if block.settings.section_width == 'page-width' %}
      max-width: var(--page-width);
      margin-inline: auto;
      width: 100%;
    {% endif %}
  "
  {{ block.shopify_attributes }}
>
  {% content_for 'block', id: 'static-blog-title', type: '_featured-blog-posts-title', closest.blog: block.settings.blog %}

  {% if block.settings.blog != blank and block.settings.blog.articles_count > 0 %}
    {% paginate block.settings.blog.articles by max_items %}
      {% assign block_articles = block.settings.blog.articles %}
    {% endpaginate %}
  {% else %}
    {% assign block_articles = '' %}
    {% for i in (1..max_items) %}
      {% assign block_articles = block_articles | append: ', ' %}
    {% endfor %}
    {% assign block_articles = block_articles | split: ',' %}
  {% endif %}

  {% capture list_items %}
    {% for article in block_articles limit: max_items %}
      <div class="resource-list__item">
        {% content_for 'block',
          id: 'static-blog-post-card',
          type: '_featured-blog-posts-card',
          article: article,
          closest.article: article
        %}
      </div>
      {% unless forloop.last %}
        <!--@list/split-->
      {% endunless %}
    {% endfor %}
  {% endcapture %}

  {% liquid
    assign list_items_array = list_items | strip | split: '<!--@list/split-->'
    assign carousel_ref = 'blogSummaryCarousel' | append: block.id
  %}

  {% render 'resource-list',
    list_items: list_items,
    list_items_array: list_items_array,
    settings: block.settings,
    carousel_ref: carousel_ref,
    slide_count: max_items,
    content_type: 'articles',
    test_id: 'blog-summary-carousel'
  %}
</div>

{% stylesheet %}
  .blog-summary-carousel h3 {
    text-transform: uppercase;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Blog summary (legacy)",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "header",
      "content": "t:content.cards_layout"
    },
    {
      "type": "select",
      "id": "layout_type",
      "label": "Layout",
      "options": [
        {
          "value": "grid",
          "label": "t:options.grid"
        },
        {
          "value": "carousel",
          "label": "t:options.carousel"
        },
        {
          "value": "editorial",
          "label": "t:options.editorial"
        }
      ],
      "default": "carousel"
    },
    {
      "type": "checkbox",
      "id": "carousel_on_mobile",
      "label": "Carousel on mobile",
      "default": true,
      "visible_if": "{{ block.settings.layout_type != 'carousel' }}"
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": "Post count",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "columns",
      "label": "Columns (desktop)",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 3,
      "visible_if": "{{ block.settings.layout_type == 'grid' or block.settings.layout_type == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "mobile_columns",
      "label": "Columns (mobile)",
      "options": [
        {
          "value": "1",
          "label": "t:options.one_number"
        },
        {
          "value": "2",
          "label": "t:options.two_number"
        }
      ],
      "default": "2",
      "visible_if": "{{ block.settings.layout_type == 'grid' and block.settings.carousel_on_mobile == false }}"
    },
    {
      "type": "select",
      "id": "mobile_card_size",
      "label": "Card size (mobile)",
      "options": [
        {
          "value": "60cqw",
          "label": "t:options.one_number"
        },
        {
          "value": "44cqw",
          "label": "t:options.two_number"
        }
      ],
      "default": "60cqw",
      "visible_if": "{{ block.settings.layout_type == 'carousel' or block.settings.carousel_on_mobile == true }}"
    },
    {
      "type": "range",
      "id": "columns_gap",
      "label": "Column gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16,
      "visible_if": "{{ block.settings.layout_type == 'grid' or block.settings.layout_type == 'carousel' }}"
    },
    {
      "type": "range",
      "id": "rows_gap",
      "label": "Row gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16,
      "visible_if": "{{ block.settings.layout_type == 'grid' }}"
    },
    {
      "type": "header",
      "content": "t:content.carousel_navigation",
      "visible_if": "{{ block.settings.layout_type == 'carousel' or block.settings.carousel_on_mobile == true }}"
    },
    {
      "type": "select",
      "id": "icons_style",
      "label": "Arrow style",
      "options": [
        {
          "value": "arrow",
          "label": "t:options.arrows"
        },
        {
          "value": "chevron",
          "label": "t:options.chevrons"
        },
        {
          "value": "arrows_large",
          "label": "t:options.arrows_large"
        },
        {
          "value": "chevron_large",
          "label": "t:options.chevron_large"
        },
        {
          "value": "none",
          "label": "t:options.none"
        }
      ],
      "default": "arrow",
      "visible_if": "{{ block.settings.layout_type == 'carousel' or block.settings.carousel_on_mobile == true }}"
    },
    {
      "type": "select",
      "id": "icons_shape",
      "label": "Arrow shape",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "circle",
          "label": "t:options.circle"
        },
        {
          "value": "square",
          "label": "t:options.square"
        }
      ],
      "default": "none",
      "visible_if": "{{ block.settings.icons_style != 'none' and block.settings.layout_type == 'carousel' or block.settings.carousel_on_mobile == true }}"
    },
    {
      "type": "header",
      "content": "t:content.section_layout"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "Block gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Colour scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "Top padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "Bottom padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 32
    }
  ],
  "presets": [
    {
      "name": "Blog summary carousel"
    }
  ]
}
{% endschema %}
